body {
  font-family: sans-serif;
  background-color: #0066CC;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}
.btnLink {
  display: inline-block;
  padding: 15px 25px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #002242;
  background-color: #d5e5f6;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.btnLink:active {
  color: black;
  background-color: #7db1e5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
